html, body {
	margin: 0px;
	padding: 0px;
}

body:after{
    display:none;
    content:
            url("../img/bgs/bg1.jpg")
            url("../img/bgs/bg2.jpg")
            url("../img/bgs/bg3.jpg")
}


html {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    transition:background-image 2s cubic-bezier(.44,.75,.38,.73)
}

body {
	background: url("../img/pattern.png") repeat;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #fff;
	min-height: 100vh;
}

h1 {
  font-size: 150px;
  color: #F5E858;
  letter-spacing: -15px;
}

.stage0{background-image:url("../img/bgs/bg1.jpg")}
.stage1{background-image:url("../img/bgs/bg2.jpg")}
.stage2{background-image:url("../img/bgs/bg2.jpg")}